USE [master]
GO
/****** Object:  Database [PERISTAKIP]    Script Date: 15.04.2020 16:46:08 ******/
CREATE DATABASE [PERISTAKIP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PERISTAKIP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PERISTAKIP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PERISTAKIP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\PERISTAKIP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PERISTAKIP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PERISTAKIP]
GO
USE [PERISTAKIP]
GO
/****** Object:  User [nitro]    Script Date: 15.04.2020 16:46:08 ******/
CREATE USER [nitro] FOR LOGIN [nitro] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [beka]    Script Date: 15.04.2020 16:46:08 ******/
CREATE USER [beka] FOR LOGIN [beka] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [nitro]
GO
ALTER ROLE [db_owner] ADD MEMBER [beka]
GO
/****** Object:  UserDefinedDataType [dbo].[barkod_str]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[barkod_str] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[belgeno_str]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[belgeno_str] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[evrakseri_str]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[evrakseri_str] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[nvarchar_barkodstr]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[nvarchar_barkodstr] FROM [nvarchar](25) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[nvarchar_belgeno]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[nvarchar_belgeno] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[nvarchar_evrakseri]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[nvarchar_evrakseri] FROM [nvarchar](6) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[nvarchar_maxhesapisimno]    Script Date: 15.04.2020 16:46:08 ******/
CREATE TYPE [dbo].[nvarchar_maxhesapisimno] FROM [nvarchar](90) NULL
GO
/****** Object:  Table [dbo].[ISEMRI]    Script Date: 15.04.2020 16:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISEMRI](
	[UID] [uniqueidentifier] NOT NULL,
	[KODU] [nvarchar](25) NULL,
	[ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_ISEMRI] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ISEMRIHAREKET]    Script Date: 15.04.2020 16:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISEMRIHAREKET](
	[UID] [uniqueidentifier] NOT NULL,
	[KODU] [nvarchar](25) NULL,
	[PERKODU] [nvarchar](25) NULL,
	[BASTARIH] [datetime] NULL,
	[BITTARIH] [datetime] NULL,
	[DURUM] [int] NULL,
 CONSTRAINT [PK_ISEMRIHAREKET] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 15.04.2020 16:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[UID] [uniqueidentifier] NOT NULL,
	[KODU] [nvarchar](25) NULL,
	[ADI] [nvarchar](50) NULL,
 CONSTRAINT [PK_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ISEMRI] ADD  CONSTRAINT [DF_ISEMRI_UID]  DEFAULT (newid()) FOR [UID]
GO
ALTER TABLE [dbo].[ISEMRIHAREKET] ADD  CONSTRAINT [DF_ISEMRIHAREKET_UID]  DEFAULT (newid()) FOR [UID]
GO
ALTER TABLE [dbo].[PERSONEL] ADD  CONSTRAINT [DF_PERSONEL_UID]  DEFAULT (newid()) FOR [UID]
GO
USE [master]
GO
