<div class="row" ng-controller="IsEmriTanimlaCtrl" ng-init="Yeni()">
    <div class="col-12">
        <div class="card-box py-2">
            <h1 class="header-title text-center">İş EMRİ TANIMLA</h1>
        </div>
    </div>
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <form class = "form-horizontal" role = "form">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">İş Emri Kodu <span class="text-dark">*</span></label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="IsEmriKodu">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-light" type="button"  ng-click = "BtnIsEmriListele()">Listele</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label">Gemi Kodu <span class="text-dark">*</span></label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="GemiAdi" disabled>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="GemiKodu">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary waves-effect waves-light" type="button"  ng-click = "BtnGemiListele()">Listele</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="simpleinput">İş Tipi Seçimi <span class="text-dark">*</span></label>
                            <div class="col-md-10">
                                <select class="form-control select2 " ng-model="Tip" ng-change = "YevmiyeChange()">
                                    <option value="0" style="color:black;">Seçim Yapınız</option>
                                    <option value="1">SÖZLEŞMELİ</option>
                                    <option value="2">İLAVE</option>
                                    <option value="3">YEVMİYE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="simpleinput">İş Emri Adı <span class="text-dark">*</span></label>
                            <div class="col-md-10">
                                <input type="text"  class="form-control" ng-model="IsEmriAdi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" for="simpleinput">Talep Edilen Yevmiye<span class="text-dark">*</span></label>
                            <div class="col-md-4">
                                <input type="text"  class="form-control" ng-model="TlpYevmiye" ng-disabled = "YevmiyeDisabled">
                            </div>
                            <label class="col-md-2 col-form-label" for="simpleinput">Onaylanan Yevmiye<span class="text-dark">*</span></label>
                            <div class="col-md-4">
                                <input type="text"  class="form-control" ng-model="OnyYevmiye" ng-disabled = "YevmiyeDisabled">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="form-group row">
                            <div class="col-3">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="BtnKaydet()">Kaydet</button>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="Yeni()">Yeni</button>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="BtnGuncelle()">Güncelle</button>
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-block btn-primary" ng-click="BtnIsEmriDelete()">Sil</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal fade  bs-example-modal-xl" id="MdlIsEmriListele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">İş Emri Listesi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="TblIsEmriList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" id="MdlGemiListele" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Gemi Listesi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div id="TblGemiList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>